<template>
    <div class="card" v-if="seen">
        <div class="card-header">
            &nbsp; Collar
            <button type="button" class="close mb-1" aria-label="Close" v-on:click="seen = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body p-0">
            <ul class="nav child-menu">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">

                        <img src="dist/icon/style/collar/classic.svg" alt=""><br>
                        Classic
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">

                        <img src="dist/icon/style/collar/cutaway.svg" alt=""><br>
                        Cutaway
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/collar/ex-cutaway.svg" alt=""><br>
                        Extreme Cutaway
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/collar/button-down.svg" alt=""><br>
                        Button Down
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/collar/mao-collar.svg" alt=""> <br>
                        Mao Collar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/collar/wing-collar.svg" alt=""><br>
                        Wing Collar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/collar/club-collar.svg" alt=""><br>
                        Club Collar
                    </a>
                </li>

            </ul>
        </div>
    </div>

</template>

<script>
    export default {
        name: "CollarMenu",
        data(){
            return {
                seen: true
            }
        }
    }
</script>

<style scoped>

</style>