<template>
    <div class="card" v-if="seen">
        <div class="card-header">
            &nbsp; Sleeves
            <button type="button" class="close mb-1" aria-label="Close" v-on:click="seen = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body p-0">
            <ul class="nav child-menu">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/sleeves/1.svg" alt=""><br>
                        Long
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <img src="dist/icon/style/sleeves/2.svg" alt=""><br>
                        Short
                    </a>
                </li>

            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SleevesMenu",
        data(){
            return {
                seen: true
            }
        }
    }
</script>

<style scoped>

</style>