<template>
    <div class="card">
        <div class="card-header px-0">
            &nbsp; {{ colName }}s
        </div>
        <div class="card-body p-0">
            <ul class="nav child-menu">
                <li class="nav-item" v-for="color in colors" v-if="color.colorId == colorId">
                    <a class="nav-link text-center" href="#">
                        <three-canvas :color="color.clr"></three-canvas>
                        <!--<div class="mx-auto w-50" :style="{ height: '50px',  background: color.clr }"></div>-->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    function tryThree(elm, color, img) {

        let li = elm.closest('li');

        //console.log(li.clientWidth);

        // Create the scene and a camera to view it
        var scene = new THREE.Scene();

        /**
         * Camera
         **/

            // Specify the portion of the scene visiable at any time (in degrees)
        var fieldOfView = 50;

        // Specify the camera's aspect ratio
        var aspectRatio = li.clientWidth / li.clientWidth;

        // Specify the near and far clipping planes. Only objects
        // between those planes will be rendered in the scene
        // (these values help control the number of items rendered
        // at any given time)
        var nearPlane = 0.1;
        var farPlane = 100;

        // Use the values specified above to create a camera
        var camera = new THREE.PerspectiveCamera(
            fieldOfView, aspectRatio, nearPlane, farPlane
        );

        // Finally, set the camera's position in the z-dimension
        camera.position.z = 10;

        /**
         * Renderer
         **/

            // Create the canvas with a renderer
        var renderer = new THREE.WebGLRenderer({antialias: true, alpha: true});

        // Specify the size of the canvas width/height
        renderer.setSize(li.clientWidth-85, li.clientWidth-60);

        // Add the canvas to the DOM
        elm.innerHTML = '';
        elm.appendChild(renderer.domElement);
        //document.body.appendChild( renderer.domElement );

        /**
         * Image
         **/

            // Create a texture loader so we can load our image file
        var loader = new THREE.TextureLoader();

        // Load an image file into a custom material
        var material = new THREE.MeshLambertMaterial({
            map: loader.load('dist/'+img)
        });

        // create a plane geometry for the image with a width of 10
        // and a height that preserves the image's aspect ratio
        var geometry = new THREE.PlaneGeometry(10, 10 * .75);

        // combine our image geometry and material into a mesh
        var mesh = new THREE.Mesh(geometry, material);

        // set the position of the image mesh in the x,y,z dimensions
        mesh.position.set(0, 0, 0);

        // add the image to the scene
        scene.add(mesh);

        /**
         * Lights
         **/

            // Add a point light with #fff color, .7 intensity, and 0 distance
        var light = new THREE.PointLight(color.toLowerCase(), 1, 0);

        // Specify the light's position
        light.position.set(1, 1, 100);

        // Add the light to the scene
        scene.add(light);

        /**
         * Render!
         **/

        // The main animation function that re-renders the scene each animation frame
        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }

        animate();
    }

    let threeCanvas = {
        data(){
            return {
                img:'img/tailor_material/btn3.png'
            }
        },
        props: ['color'],
        computed: {
            imgPath(){
                /*this.img = (this.menuName == 'Contrast')
                this.img = (this.menuName == 'Button')
                this.img = (this.menuName == 'Yarn')*/

                switch (this.$parent.colName) {
                    case 'Button':
                        this.img = 'img/tailor_material/btn3.png';
                        break;
                    case 'Yarn':
                        this.img = 'img/tailor_material/yarn2.png';
                        break;
                }

                return this.img;
            }
        },
        mounted() {
            tryThree(this.$refs.span, this.color, this.imgPath);
        },
        watch: {
            $route() {
                tryThree(this.$refs.span, this.color, this.imgPath);
            }
        },
        template: '<span ref="span"></span>'
    };

    export default {
        name: "SelectColor",
        components: {
            threeCanvas
        },
        props: ['colorId', 'colName'],
        data(){
            return {
                colors:[]
            }
        },
        created() {
            //Fabric of the Week
            this.colors = [
                {
                    id: 1,
                    type: 'contrast',
                    colorId: 1,
                    clr:'blue',
                },
                {
                    id: 2,
                    type: 'contrast',
                    colorId: 1,
                    clr:'red',
                },
                {
                    id: 3,
                    type: 'contrast',
                    colorId: 1,
                    clr:'yellow',
                },
                {
                    id: 4,
                    type: 'button',
                    colorId: 2,
                    clr:'cyan',
                },
                {
                    id: 5,
                    type: 'button',
                    colorId: 2,
                    clr:'gray',
                },
                {
                    id: 6,
                    type: 'button',
                    colorId: 2,
                    clr:'green',
                },
                {
                    id: 7,
                    type: 'yarn',
                    colorId: 2,
                    clr:'BlueViolet',
                },
                {
                    id: 8,
                    type: 'yarn',
                    colorId: 2,
                    clr:'CadetBlue',
                },
                {
                    id: 9,
                    type: 'yarn',
                    colorId: 3,
                    clr:'Coral',
                },
                {
                    id: 10,
                    type: '',
                    colorId: 3,
                    clr:'DarkSlateBlue',
                },
                {
                    id: 11,
                    type: '',
                    colorId: 3,
                    clr:'DarkTurquoise',
                },
                {
                    id: 12,
                    type: '',
                    colorId: 3,
                    clr:'DodgerBlue',
                },
                {
                    id: 13,
                    type: '',
                    colorId: 4,
                    clr:'GoldenRod',
                }

            ];

        }
    }
</script>

<style scoped>

</style>