<template>
    <div class="card">
        <div class="card-header px-0">
            &nbsp; {{ fabsName }}
        </div>
        <div class="card-body p-0">
            <ul class="nav child-menu">
                <li class="nav-item" v-for="fabric in fabrics" v-if="fabric.fabricId == fabricId">
                    <a class="nav-link text-center" href="#">
                        <img :src="fabric.img" alt="" class="w-50">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SelectFabric",
        props: ['fabsName', 'fabricId'],
        data(){
            return {
                fabrics:[]
            }
        },
        created() {
            //Fabric of the Week
            this.fabrics = [
                {
                    id: 1,
                    fabricId: 1,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15019.jpg',
                },
                {
                    id: 2,
                    fabricId: 1,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15035.jpg',
                },
                {
                    id: 3,
                    fabricId: 1,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15033.jpg',
                },
                {
                    id: 4,
                    fabricId: 2,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15027.jpg',
                },
                {
                    id: 5,
                    fabricId: 2,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15036.jpg',
                },
                {
                    id: 6,
                    fabricId: 2,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15045.jpg',
                },
                {
                    id: 7,
                    fabricId: 3,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15043.jpg',
                },
                {
                    id: 8,
                    fabricId: 3,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15046.jpg',
                },
                {
                    id: 9,
                    fabricId: 3,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15054.jpg',
                },
                {
                    id: 10,
                    fabricId: 4,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15055.jpg',
                },
                {
                    id: 11,
                    fabricId: 4,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15057.jpg',
                },
                {
                    id: 12,
                    fabricId: 4,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15059.jpg',
                },
                {
                    id: 13,
                    fabricId: 4,
                    img:'https://www.itailor.com/images/Models/Shirt/Fabrics/M/15051.jpg',
                }

            ];

        }
    }
</script>

<style scoped>

</style>