<template>
    <div class="row">
        <router-view></router-view>

        <div class="col-md-5 mt-5">
            <img class="img-fluid" src="http://placehold.it/555x526" alt="">
        </div>
    </div>
</template>

<script>
    export default {
        name: "InsetBox"
    }
</script>

<style scoped>

</style>