<template>
    <div>
        <h1>hello Test</h1>

        <router-view></router-view>

    </div>
</template>

<script>
    export default {
        name: "test"
    }
</script>

<style scoped>

</style>