<template>
    <div class="row col-md-7 text-uppercase">
        <div class="col-md-7">
            <ul id="main-menu" class="nav flex-column mt-2" style="background: #ffffff; ">
                <li class="nav-item" v-for="color in colors">
                    <router-link class="nav-link" :to="{name:'SelectColor', params:{colorId:color.id, colName:color.name} }">
                        <img :src="color.img" alt=""> {{ color.name }}
                    </router-link>
                </li>
            </ul>
        </div>


        <div class="col-md-5 p-0 mt-5">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Color",
        data(){
            return {
                colors:[]
            }
        },
        created() {
            this.colors = [
                {
                    id: 1,
                    name:'Contrast',
                    img: 'dist/img/tailor_material/contrast.jpg'
                },
                {
                    id: 2,
                    name:'Button',
                    img: 'dist/img/tailor_material/btn3.png'
                },
                {
                    id: 3,
                    name:'Yarn',
                    img: 'dist/img/tailor_material/yarn1.png'
                }
            ];

        }
    }
</script>

<style scoped>

</style>