<template>
    <div class="row col-md-7 text-uppercase">
        <div class="col-md-7">
            <ul id="main-menu" class="nav flex-column mt-2" style="background: #ffffff; ">
                <li class="nav-item" v-for="fabric in fabrics">
                    <router-link class="nav-link" :to="{name:'SelectFabric', params:{fabricId:fabric.id, fabsName:fabric.name} }">
                        {{ fabric.name }}
                    </router-link>
                </li>
            </ul>
        </div>


        <div class="col-md-5 p-0 mt-5">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "fabrics",
        data(){
            return {
                fabrics:[]
            }
        },
        created() {
            //Fabric of the Week
            this.fabrics = [
                {
                    id: 1,
                    name:'Fabric of the Week',
                },
                {
                    id: 2,
                    name:'Egyptian Cotton',
                },
                {
                    id: 3,
                    name:'Solid Colors',
                },
                {
                    id: 4,
                    name:'Premium Solid',
                },
                {
                    id: 5,
                    name:'Premium White',
                },{
                    id: 6,
                    name:'Pattern/Organic',
                },

            ];

        }
    }
</script>

<style scoped>

</style>