<template>
    <div class="row col-md-7 text-uppercase">
        <div class="col-md-7">
            <ul id="main-menu" class="nav flex-column mt-2" style="background: #ffffff; ">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name:'SleevesMenu'}">
                        <img src="dist/icon/style/sleeves/1.svg" alt="">
                        Sleeves
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name:'CollarMenu'}">
                        <img src="dist/icon/style/collar/classic.svg" alt="">
                        Collar
                    </router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#style">
                        <img src="dist/icon/style/cuff/single-beveled.svg" alt="">
                        Cuff
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#style">
                        <img src="dist/icon/style/pocket/2.svg" alt="">
                        Pocket
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#style">
                        <img src="dist/icon/style/placket/1(2).svg" alt="">
                        Placket
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#style">
                        <img src="dist/icon/style/back/1.svg" alt="">
                        Back
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#style">
                        <img src="dist/icon/style/bottom/1(4).svg" alt="">
                        Bottom
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#style">
                        <img src="dist/icon/style/embroidery/0.svg" alt="">
                        Embroidery
                    </a>
                </li>
            </ul>
        </div>


        <div class="col-md-5 p-0 mt-5">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Styles"
    }
</script>

<style scoped>

</style>