/*!
 * Start Bootstrap - Portfolio Item (https://startbootstrap.com/template-overviews/portfolio-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-portfolio-item/blob/master/LICENSE)
 */

$activate-border-design: 5px solid #868686;

body {
  //padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    //padding-top: 56px;
  }
}

/*My code start*/
.component-menu nav {
  padding: 0;
}

.component-menu .router-link-active{
  background: #e5e5e5;
  //font-weight: bold;
  border-top: $activate-border-design;
  color: #191932 !important;
}

/**********child-menu********/
.child-menu li {
  width: 100%;
  //background: red;
}
.child-menu {
  max-height: 320px;
  overflow-y: scroll;
}
.child-menu li:not(:first-child) {
  border-top: 3px solid #f8f8f8;
}
.child-menu img {
  width: 50px;
}
/**********End-child-menu********/


/*side main menu*/
#main-menu .router-link-active { //#main-menu li a:active
  background: #d7d7d7;
  color: #505050;
  font-weight: bold;
  border-left: $activate-border-design;
  transition: 0.3s;
}
#main-menu li a:hover {
  background-color: #efefef;
  border-left: $activate-border-design;
  transition: 0.3s;
}
#main-menu li a.nav-link img {
  width: 20%;
}
#main-menu li a.nav-link {
  font-size: .9rem;
  color: #000000;
  height: 75px;
  padding: 25px;
  border-bottom: 1px solid #dcdcdc;
}
/*side main menu*/

.flex-column li a {
  color: #252525;
}

.card {
  border: 3px solid rgb(238, 238, 238);
}
.card-header {
  font-size: .9rem;
  text-transform: capitalize;
}

/***********Menu Scrollbar***********/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 10px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
/***********End Menu Scrollbar***********/

.main-canvas {
  display: block;
  width: 100%;
  cursor: pointer;
}





